<%= form_tag charges_path do %>
  <h4>Sign up for a Premium Account!</h4>
  <h5>Create Private Wikis Only Other Premium Users Can See</h5>
  <script class='stripe-button' src="https://checkout.stripe.com/checkout.js"
  data-key="<%= @stripe_btn_data[:key] %>"
  data-amount="1999"
  data-description="A month's subscription to Blocipedia" ></script>
<% end %>
